.snav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .snav-toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 250px;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav-content {
  padding-left: 50px;
  padding-right: 50px;
}

.logo-card {
  max-width: 400px;
}

.active-list-item {
  color: #3F51B5 !important;
}

.mat-form-field {
  font-size: 14px;
  padding: 30px;
  width: 25%;
}

table {
  width: 100%;
}

form {
  background-color: white;
}

.alert-danger {
  padding: 20px;
  background-color: #f2dede;
  color: #a94442;
  margin-bottom: 15px;
  font-weight: bold;
}

.alert-success {
  padding: 20px;
  background-color: #dff0d8;
  color: #437b44;
  margin-bottom: 15px;
  font-weight: bold;
}

.alert-warn {
  padding: 20px;
  background-color: #fcf8e3;
  color: #8a6d3b;
  margin-bottom: 15px;
  font-weight: bold;
}
