.snav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .snav-toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 250px;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav-content {
  padding: 50px;
}

.logo-card {
  max-width: 400px;
}

.active-list-item {
  color: #3F51B5 !important;
}

.mat-form-field {
  font-size: 14px;
  padding: 30px;
  width: 25%;
}

form {
  background-color: white;
}

.mat-raised-button, .mat-spinner {
  width: 27%;
  margin-left: 38%;
  margin-bottom: 4%;
}

.password-match {
  font-size: 9px;
  color:red;
}
